//imports

@import "../colors/colors";
@import "../typography/desktop";
@import "../typography/mobile";
@import "../paths-to-images/paths";
@import "../links-and-buttons/links-and-buttons";

//normalize

* {
  scroll-behavior: smooth;
  box-sizing: border-box;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.max-size-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: $background-body;
  margin: 0 auto;
  padding: 20px 40px 40px;
  overflow-x: hidden;

  @media (max-width: 470px) {
    padding: 20px 16px 40px;
  }
}

//header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;

    a {
      @extend %link-button;
      color: $text-dark;
      position: relative;

      &::after {
        @include underline-unfocus($text-dark, 5px);
      }

      @media (hover:hover) {
        &:hover::after {
          @include underline-focus;
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.menu-wrapper {
  position: relative;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p {
      @extend %link-button;
      color: $text-dark;
    }
  }

  &::after {
    @include underline-unfocus($text-dark, -15px);
  }

  @media (hover:hover) {
    &:hover::after {
      @include underline-focus;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.burger-toggle {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid $text-dark;
  background-color: $background-body;

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    li {
      width: 16px;
      height: 1.5px;
      background-color: $text-dark;
    }

    li:first-child {
      transform: rotate(45deg) translateX(3.5px) translateY(3.5px);
      transition: all 1s;
    }

    li:last-child {
      transform: rotate(-45deg) translateX(3.5px) translateY(-3.5px);
      transition: all 1s;
    }
  }
}

.burger-toggle.unactive {

  li:first-child {
    transform: rotate(0deg);
    transition: all 1s;
  }

  li:last-child {
    transform: rotate(0deg);
    transition: all 1s;
  }
}

.burger-menu-links.unactive {
  transform: translateX(1000px);
  transition: all 1s;
}

.burger-menu-links {
  position: absolute;
  top: 60px;
  width: 100%;
  min-height: 100vh;
  padding: 80px 40px 60px;
  background-color: $background-body;
  transition: all 1s;

  ul {
    display: flex;
    gap: 60px;
    flex-direction: column;

    li:last-child {
      margin-top: 40px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        display: inline;
        margin: 0;
        margin-right: 16px;
      }

      img {
        width: 38.5px;
        height: 38.5px;
      }
    }
  }

  li {
    text-align: center;

    a {
      color: $text-dark;
      @extend %burger-link;
    }
  }
}

//hero

.hero-section {
  background: $hero;
  border-radius: 40px;
  padding: 100px;
  margin-top: 20px;

  @media (max-width: 1000px) {
    padding: 100px 60px;
  }

  @media (max-width: 700px) {
    padding: 60px 16px;
  }

  p {
    @extend %medium;
    color: $text-light;
    margin: 0;
  }

  a {
    width: 200px;

    &:hover {
      position: relative;
    }

    @media(hover:hover) {
      @media(min-width: 769px) {
        &:hover::after {
          transform: translateX(130px);
          opacity: 1;
          transition: all 0.5s;
        }
      }
    }

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: url(../../img/icons/coffee-cup.svg);
      position: absolute;
      transform: translateX(140px);
      opacity: 0;
      transition: all 0.5s;
      top: 20px;
    }

    p {
      @extend %button-primary;
      margin: 0;
    }
  }
}

.hero-wrapper {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 660px) {
    width: 450px;
  }

  @media (max-width: 570px) {
    width: 316px;
  }
}

h1 {
  @extend %heading-1;
  color: $text-light;
  margin: 0;

  span {
    @extend %heading-1-accent;
    color: $text-accent;
  }

  @media (max-width: 740px) {
    @include heading-1-mobile;

    span {
      @include heading-1-accent-mobile;
    }
  }
}

//favorite

.favorite-section {
  margin-top: 100px;

  h2 {
    @extend %heading-2;
    color: $text-dark;
    text-align: center;
    margin: 0 0 40px;

    span {
      @extend %heading-2-accent;
      color: $text-accent;
    }

    @media (max-width: 740px) {
      @include heading-2-mobile;

      span {
        @include heading-2-accent-mobile;
      }
    }
  }

  @media (max-width: 700px) {
    button {
      display: none;
    }
  }
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 700px) {
    justify-content: center;
  }

  button {
    @include button-icon-dark;
  }
}

.coffee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 480px;

  img {
    width: 480px;
    height: 480px;

    @media (max-width: 600px) {
      width: 348px;
      height: 348px;
    }
  }

  h3 {
    @extend %heading-3;
    color: $text-dark;
    margin: 0;
  }

  li:nth-child(3) {
    @extend %medium;
    color: $text-dark;
    text-align: center;
  }
}

.hide {
  display: none;
}

.control-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 12px;

  .control-list-item {
    width: 40px;
    height: 4px;
    border-radius: 100px;
  }

  .active {
    background-color: $border-dark;
  }

  .unactive {
    background-color: $border-light;
  }
}

//about-section

.about-section {
  margin-top: 100px;

  h2 {
    @extend %heading-2;
    color: $text-dark;
    margin-bottom: 40px;

    span {
      @extend %heading-2-accent;
      color: $text-accent;
    }

    @media (max-width: 740px) {
      @include heading-2-mobile;

      span {
        @include heading-2-accent-mobile;
      }
    }
  }

  .photos-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1250px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  .about-img-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .about-list-item-1 {
      width: 660px;
      height: 590px;
      border-radius: 20px;
      overflow: hidden;

      @media (max-width: 1439px) {
        width: 560px;
        height: 490px;
      }

      @media (max-width: 1000px) {
        width: 688px;
        height: 590px;
      }

      @media (max-width: 760px) {
        width: 348px;
        height: 590px;
      }
    }

    .about-1 {
      width: 660px;
      height: 590px;
      background: $about-section-photo-1;
      background-position: center;
      transform: scale(1.1);
      transition: all 0.5s;

      @media (hover:hover) {
        &:hover {
          transform: scale(1);
          transition: all 0.5s;
        }
      }

      @media (max-width: 1439px) {
        width: 560px;
        height: 490px;
      }

      @media (max-width: 1000px) {
        width: 688px;
        height: 590px;
      }

      @media (max-width: 760px) {
        width: 348px;
        height: 590px;
      }
    }

    .about-list-item-2 {
      width: 660px;
      height: 430px;
      border-radius: 20px;
      overflow: hidden;

      @media (max-width: 1439px) {
        width: 560px;
        height: 330px;
      }

      @media (max-width: 1000px) {
        display: none;
      }

      .about-2 {
        width: 660px;
        height: 430px;
        background: $about-section-photo-2;
        background-position: center;
        transform: scale(1.1);
        transition: all 0.5s;

        @media (hover:hover) {
          &:hover {
            transform: scale(1);
            transition: all 0.5s;
          }
        }

        @media (max-width: 1439px) {
          width: 560px;
          height: 330px;
        }
      }
    }

    .about-list-item-3 {
      width: 660px;
      height: 430px;
      border-radius: 20px;
      overflow: hidden;

      @media (max-width: 1439px) {
        width: 560px;
        height: 330px;
      }

      @media (max-width: 1000px) {
        display: none;
      }

      .about-3 {
        width: 660px;
        height: 430px;
        background: $about-section-photo-3;
        background-position: center;
        transform: scale(1.1);
        transition: all 0.5s;

        @media (hover:hover) {
          &:hover {
            transform: scale(1);
            transition: all 0.5s;
          }
        }

        @media (max-width: 1439px) {
          width: 560px;
          height: 330px;
        }
      }
    }

    .about-list-item-4 {
      width: 660px;
      height: 590px;
      border-radius: 20px;
      overflow: hidden;

      @media (max-width: 1439px) {
        width: 560px;
        height: 490px;
      }

      @media (max-width: 1000px) {
        width: 688px;
        height: 590px;
      }

      @media (max-width: 760px) {
        width: 348px;
        height: 590px;
      }

      .about-4 {
        width: 660px;
        height: 590px;
        border-radius: 20px;
        background: $about-section-photo-4;
        background-position: center;
        transform: scale(1.1);
        transition: all 0.5s;

        @media (hover:hover) {
          &:hover {
            transform: scale(1);
            transition: all 0.5s;
          }
        }

        @media (max-width: 1439px) {
          width: 560px;
          height: 490px;
        }

        @media (max-width: 1000px) {
          width: 688px;
          height: 590px;
        }

        @media (max-width: 760px) {
          width: 348px;
          height: 590px;
        }
      }
    }
  }
}

//mobile app section

.mobile-app-section {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: center;

  @media (max-width: 490px) {
    gap: 40px;
  }

  @media (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 630px;
    width: 630px;

    @media (max-width: 760px) {
      width: 348px;
      height: 348px;
    }
  }

  ul {
    display: flex;
    gap: 20px;

    @media (max-width: 490px) {
      flex-direction: column;
    }
  }

  h2 {
    @extend %heading-2;
    color: $text-dark;
    margin: 0;

    span {
      @extend %heading-2-accent;
      color: $text-accent;
    }

    @media (max-width: 740px) {
      @include heading-2-mobile;

      span {
        @include heading-2-accent-mobile;
      }
    }
  }
}


.mobile-app-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  p {
    @extend %medium;
    color: $text-dark;
    margin: 0;
  }

  .app-button {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    border-radius: 100px;
    padding: 12px 20px;
    border: 1px solid $border-dark;
    transition: all 0.5s;

    p {
      @extend %caption;
      color: $text-dark;
      transition: all 0.5s;

      span {
        @extend %link-button;
        color: $text-dark;
        font-style: normal;
        transition: all 0.5s;
      }
    }

    svg {
      fill: $text-dark;
      transition: all 0.5s;
    }

    @media (hover:hover) {
      &:hover {
        background-color: $background-container;
        border-color: $text-light;
        transition: all 0.5s;

        p {
          color: $text-light;
          transition: all 0.5s;

          span {
            color: $text-light;
            transition: all 0.5s;
          }
        }

        svg {
          fill: $text-light;
          transition: all 0.5s;
        }
      }
    }
  }
}


//footer

footer {
  margin-top: 100px;
  background-color: $background-container;
  border-radius: 40px;
  padding: 100px 100px;
  display: flex;
  gap: 130px;

  @media (max-width: 1170px) {
    padding: 60px 40px;
    justify-content: space-between;
    gap: 70px;
  }

  @media (max-width: 990px) {
    padding: 100px 60px;
    flex-direction: column;
    gap: 100px;
  }

  @media(max-width: 600px) {
    padding: 60px 16px;
    gap: 40px;
  }

  h2 {
    @extend %heading-2;
    color: $text-light;
    margin: 0;

    span {
      @extend %heading-2-accent;
      color: $text-accent;
    }

    @media (max-width: 740px) {
      @include heading-2-mobile;

      span {
        @include heading-2-accent-mobile;
      }

      br {
        display: none;
      }
    }
  }

  .col-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .social-links-list {
    display: flex;
    gap: 12px;

    li {
      width: 60px;
      height: 60px;
      border: 1px solid $text-light;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;

      svg {
        stroke: $text-light;
        transition: all 0.5s;
      }

      @media (hover:hover) {
        &:hover {
          background-color: $background-body;
          transition: all 0.5s;

          svg {
            stroke: $text-dark;
            transition: all 0.5s;
          }
        }
      }
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin: auto 0;

    h3 {
      @extend %heading-3;
      color: $text-light;
      margin: 0 0 24px;
    }

    span {
      @extend %link-button;
      color: $text-light;
      margin-left: 8px;
    }

    a {
      position: relative;

      &::after {
        @include underline-unfocus($text-light, 5px);
      }

      @media (hover:hover) {
        &:hover::after {
          @include underline-focus;
        }
      }
    }
  }
}