/* normalize */

* {
  scroll-behavior: smooth;
}

.max-size-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #E1D4C9;
  box-sizing: border-box;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  margin: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu-wrapper a p {

  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

/* hero */

.hero-section {
  margin: 20px 40px 100px;
  background: url(../img/hero/img-hero.jpg) lightgray 50% / cover no-repeat;
  border-radius: 40px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px;
  width: 530px;
}

h1 {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  margin: 0;
  padding: 0;
}

h1 a {
  color: #B0907A;
  text-decoration: none;
  font-family: Inter;
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%;
}

.hero-section p {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

.hero-section button {
  width: 200px;
  padding: 20px 78px;
  background-color: #E1D4C9;
  border-radius: 100px;
  border: none;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

/* favorite */

.favorite-section {
  margin: 100px 40px;
}

.favorite-section h2 {
  color: #403F3D;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  margin: 0 0 40px;
}

.favorite-section h2 span {
  color: #B0907A;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-left {
  padding: 18px;
  border: 1px solid #665F55;
  border-radius: 100px;
}

.go-right {
  padding: 18px;
  border: 1px solid #665F55;
  border-radius: 100px;
}

.coffe-card {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
}

.coffe-card img {
  margin-bottom: 20px;
  width: 480px;
  height: 480px;
}

.coffe-card li:nth-child(2) {
  margin-bottom: 16px;
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.coffe-card li:nth-child(3) {
  margin-bottom: 16px;
  text-align: center;
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.coffe-card li:nth-child(4) {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.control-list {
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.control-list-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
}

.active {
  background-color: #665F55;
}

.unactive {
  background-color: #C1B6AD;
}

.hide {
  display: none;
}

/* about-section */

.about-section {
  margin: 100px 35px 100px 40px;
}

.about-section h2 {
  color: #403F3D;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.about-section h2 span {
  color: #B0907A;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.photos-wrapper {
  display: flex;
  gap: 40px;
}

.about-img-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.about-1 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background: url(/coffee-house/img/about/about-1.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
}

.about-2 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background: url(/coffee-house/img/about/about-2.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
}

.about-3 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background: url(/coffee-house/img/about/about-3.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
}

.about-4 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background: url(/coffee-house/img/about/about-4.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
}

/* mobile app section */

.mobile-app-section {
  margin: 100px 40px;
  display: flex;
  gap: 100px;
}

.mobile-app-section h2 {
  color: #403F3D;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-top: 144px;
  margin-bottom: 0;
}

.mobile-app-section h2 span {
  color: #B0907A;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.mobile-app-info-wrapper>p {
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 35px 0;
}

.mobile-app-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.app-button {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  width: 200px;
  padding: 6px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665F55;
}

.app-button p {
  color: #403F3D;
  text-align: left;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.app-button p span {
  color: #403F3D;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

/* footer */

footer {
  margin: 100px 40px 40px;
  background-color: #665F55;
  border-radius: 40px;
  padding: 50px 100px 100px;
  display: flex;
  gap: 130px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer h2 {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

footer h2 span {
  color: #B0907A;
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.social-links-list {
  display: flex;
  gap: 12px;
}

.social-links-list img {
  padding: 18px;
  border: 1px solid #E1D4C9;
  border-radius: 100px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.contacts-list li:nth-child(1) {
  color: #E1D4C9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 24px;
}

.contacts-list p {
  display: inline;
  color: #E1D4C9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-left: 8px;
}

.tel {
  text-decoration: none;
}

.location {
  text-decoration: none;
}