// home-hero

$hero: url(../../img/hero/img-hero.jpg) lightgray 50% / cover no-repeat;

// home-about

$about-section-photo-1: url(../../img/about/about-1.jpg), lightgray 50% / cover no-repeat;

$about-section-photo-2: url(../../img/about/about-2.jpg), lightgray 50% / cover no-repeat;

$about-section-photo-3: url(../../img/about/about-3.jpg), lightgray 50% / cover no-repeat;

$about-section-photo-4: url(../../img/about/about-4.jpg), lightgray 50% / cover no-repeat;

// menu-offer-section-coffee

$offer-section-coffee-1: url(../../img/menu/coffee/coffee-1.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-2: url(../../img/menu/coffee/coffee-2.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-3: url(../../img/menu/coffee/coffee-3.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-4: url(../../img/menu/coffee/coffee-4.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-5: url(../../img/menu/coffee/coffee-5.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-6: url(../../img/menu/coffee/coffee-6.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-7: url(../../img/menu/coffee/coffee-7.jpg), lightgray 50% / cover no-repeat;

$offer-section-coffee-8: url(../../img/menu/coffee/coffee-8.jpg), lightgray 50% / cover no-repeat;

// menu-offer-section-tea

$offer-section-tea-1: url(../../img/menu/tea/tea-1.png), lightgray 50% / cover no-repeat;

$offer-section-tea-2: url(../../img/menu/tea/tea-2.png), lightgray 50% / cover no-repeat;

$offer-section-tea-3: url(../../img/menu/tea/tea-3.png), lightgray 50% / cover no-repeat;

$offer-section-tea-4: url(../../img/menu/tea/tea-4.png), lightgray 50% / cover no-repeat;

// menu-offer-section-desserts

$offer-section-dessert-1: url(../../img/menu/desserts/dessert-1.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-2: url(../../img/menu/desserts/dessert-2.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-3: url(../../img/menu/desserts/dessert-3.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-4: url(../../img/menu/desserts/dessert-4.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-5: url(../../img/menu/desserts/dessert-5.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-6: url(../../img/menu/desserts/dessert-6.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-7: url(../../img/menu/desserts/dessert-7.png), lightgray 50% / cover no-repeat;

$offer-section-dessert-8: url(../../img/menu/desserts/dessert-8.png), lightgray 50% / cover no-repeat;