footer h2, h1 {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

footer h2 span, h1 span {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  font-style: italic;
}

footer .contacts-list h3, .offer-section-cards .offer-card-list h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.offer-section-cards .offer-card-list li:nth-child(3) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

footer .contacts-list span, .offer-list .offer-list-item h2, .offer-list .offer-list-item, .menu-wrapper p, nav ul a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.burger-menu-links li a {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}

.max-size-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  background-color: #E1D4C9;
  margin: 0 auto;
  padding: 20px 40px 40px;
}
@media (max-width: 470px) {
  body {
    padding: 20px 16px 40px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
header img {
  transform: scale(1);
  transition: all 0.5s;
}
@media (hover: hover) {
  header img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
nav ul a {
  color: #403F3D;
  position: relative;
}
nav ul a::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background-color: #403F3D;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
@media (hover: hover) {
  nav ul a:hover::after {
    width: 100%;
    transition: all 0.5s;
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.menu-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.menu-wrapper p {
  color: #403F3D;
}
.menu-wrapper::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #403F3D;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .menu-wrapper {
    display: none;
  }
}

.burger-toggle {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #403F3D;
  background-color: #E1D4C9;
}
@media (min-width: 769px) {
  .burger-toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .burger-toggle ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .burger-toggle li {
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
  }
  .burger-toggle li:first-child {
    transform: rotate(45deg) translateX(3.5px) translateY(3.5px);
    transition: all 1s;
  }
  .burger-toggle li:last-child {
    transform: rotate(-45deg) translateX(3.5px) translateY(-3.5px);
    transition: all 1s;
  }
}

.burger-toggle.unactive li:first-child {
  transform: rotate(0deg);
  transition: all 1s;
}
.burger-toggle.unactive li:last-child {
  transform: rotate(0deg);
  transition: all 1s;
}

.burger-menu-links.unactive {
  transform: translateX(1000px);
  transition: all 1s;
}

.burger-menu-links {
  position: fixed;
  z-index: 1;
  top: 80px;
  width: 90%;
  min-height: 100vh;
  padding: 60px 40px;
  background-color: #E1D4C9;
  transition: all 1s;
}
@media (min-width: 769px) {
  .burger-menu-links {
    display: none;
  }
}
@media (max-width: 470px) {
  .burger-menu-links {
    width: 95%;
    padding: 60px 16px;
  }
}
.burger-menu-links ul {
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.burger-menu-links ul li:last-child {
  margin-top: 40px;
}
.burger-menu-links ul li:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu-links ul li:last-child p {
  display: inline;
  margin: 0;
  margin-right: 16px;
}
.burger-menu-links ul li:last-child p::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 138px;
  background-color: #403F3D;
  margin-top: 10px;
}
.burger-menu-links ul li:last-child img {
  width: 38.5px;
  height: 38.5px;
}
.burger-menu-links li {
  text-align: center;
}
.burger-menu-links li a {
  color: #403F3D;
}

.offer-section {
  margin-top: 20px;
}

h1 {
  color: #403F3D;
  max-width: 800px;
  text-align: center;
  margin: 0 auto 40px;
}
h1 span {
  color: #B0907A;
}
@media (max-width: 740px) {
  h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  h1 span {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: italic;
  }
}

.offer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 470px) {
  .offer-list {
    gap: 8px;
  }
}
.offer-list .offer-list-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
}
.offer-list .offer-list-item h2 {
  margin: 0;
}
.offer-list .offer-list-item span {
  padding: 3px 7px;
  border-radius: 100px;
}
.offer-list .active {
  background-color: #665F55;
  border: 1px solid #665F55;
  color: #E1D4C9;
}
.offer-list .active span {
  background-color: #E1D4C9;
}
.offer-list .unactive {
  border: 1px solid #C1B6AD;
  color: #403F3D;
  transition: all 0.5s;
  cursor: pointer;
}
.offer-list .unactive span {
  background-color: #C1B6AD;
  transition: all 0.5s;
}
@media (hover: hover) {
  .offer-list .unactive:hover {
    background-color: #665F55;
    color: #E1D4C9;
    transition: all 0.5s;
  }
  .offer-list .unactive:hover span {
    background-color: #E1D4C9;
    transition: all 0.5s;
  }
}

.offer-section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.offer-section-cards .offer-card-list {
  width: 310px;
  padding-bottom: 20px;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}
.offer-section-cards .offer-card-list .offer-card-photo-wrapper {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}
.offer-section-cards .offer-card-list .offer-card-photo {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  transform: scale(1.1);
  transition: all 0.5s;
}
@media (hover: hover) {
  .offer-section-cards .offer-card-list:hover .offer-card-photo {
    transform: scale(1);
    transition: all 0.5s;
  }
}
.offer-section-cards .offer-card-list h3 {
  color: #403F3D;
  margin: 0;
  padding: 0 20px;
}
.offer-section-cards .offer-card-list li:nth-child(3) {
  color: #403F3D;
  padding: 0 20px;
}
.offer-section-cards .offer-card-list li:nth-child(4) {
  margin-top: auto;
}
@media (max-width: 768px) {
  .offer-section-cards .offer-card-list {
    height: 506px;
  }
}
@media (max-width: 1089px) {
  .offer-section-cards ul:nth-child(5) {
    display: none;
  }
  .offer-section-cards ul:nth-child(6) {
    display: none;
  }
  .offer-section-cards ul:nth-child(7) {
    display: none;
  }
  .offer-section-cards ul:nth-child(8) {
    display: none;
  }
}
.offer-section-cards.hide {
  display: none;
}

.offer-section-more-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
}
.offer-section-more-button svg {
  stroke: #665F55;
}
@media (min-width: 1090px) {
  .offer-section-more-button {
    display: none;
  }
}

.item-1.coffee {
  background: url(../../img/menu/coffee/coffee-1.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-2.coffee {
  background: url(../../img/menu/coffee/coffee-2.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-3.coffee {
  background: url(../../img/menu/coffee/coffee-3.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-4.coffee {
  background: url(../../img/menu/coffee/coffee-4.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-5.coffee {
  background: url(../../img/menu/coffee/coffee-5.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-6.coffee {
  background: url(../../img/menu/coffee/coffee-6.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-7.coffee {
  background: url(../../img/menu/coffee/coffee-7.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-8.coffee {
  background: url(../../img/menu/coffee/coffee-8.jpg), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-1.tea {
  background: url(../../img/menu/tea/tea-1.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-2.tea {
  background: url(../../img/menu/tea/tea-2.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-3.tea {
  background: url(../../img/menu/tea/tea-3.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-4.tea {
  background: url(../../img/menu/tea/tea-4.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-1.dessert {
  background: url(../../img/menu/desserts/dessert-1.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-2.dessert {
  background: url(../../img/menu/desserts/dessert-2.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-3.dessert {
  background: url(../../img/menu/desserts/dessert-3.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-4.dessert {
  background: url(../../img/menu/desserts/dessert-4.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-5.dessert {
  background: url(../../img/menu/desserts/dessert-5.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-6.dessert {
  background: url(../../img/menu/desserts/dessert-6.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-7.dessert {
  background: url(../../img/menu/desserts/dessert-7.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

.item-8.dessert {
  background: url(../../img/menu/desserts/dessert-8.png), lightgray 50%/cover no-repeat;
  background-position: center;
}

footer {
  margin-top: 100px;
  background-color: #665F55;
  border-radius: 40px;
  padding: 100px 100px;
  display: flex;
  gap: 130px;
}
@media (max-width: 1170px) {
  footer {
    padding: 60px 40px;
    justify-content: space-between;
    gap: 70px;
  }
}
@media (max-width: 990px) {
  footer {
    padding: 100px 60px;
    flex-direction: column;
    gap: 100px;
  }
}
@media (max-width: 600px) {
  footer {
    padding: 60px 16px;
    gap: 40px;
  }
}
footer h2 {
  color: #E1D4C9;
  margin: 0;
}
footer h2 span {
  color: #B0907A;
}
@media (max-width: 740px) {
  footer h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  footer h2 span {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    font-style: italic;
  }
  footer h2 br {
    display: none;
  }
}
footer .col-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .social-links-list {
  display: flex;
  gap: 12px;
}
footer .social-links-list li {
  width: 60px;
  height: 60px;
  border: 1px solid #E1D4C9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
footer .social-links-list li svg {
  stroke: #E1D4C9;
  transition: all 0.5s;
}
@media (hover: hover) {
  footer .social-links-list li:hover {
    background-color: #E1D4C9;
    transition: all 0.5s;
  }
  footer .social-links-list li:hover svg {
    stroke: #403F3D;
    transition: all 0.5s;
  }
}
footer .contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: auto 0;
}
footer .contacts-list h3 {
  color: #E1D4C9;
  margin: 0 0 24px;
}
footer .contacts-list span {
  color: #E1D4C9;
  margin-left: 8px;
}
footer .contacts-list a {
  position: relative;
}
footer .contacts-list a::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background-color: #E1D4C9;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
@media (hover: hover) {
  footer .contacts-list a:hover::after {
    width: 100%;
    transition: all 0.5s;
  }
}

/*# sourceMappingURL=style.css.map */
